.nav-bar{
    
    background-color: rgba(0, 0, 0, 0.6);
    color: white;    
    padding: 20px;
    font-weight: 600;
    font-size: 20px;    
    display: flex;
    justify-content: space-between;
    width: 100%;    
    box-sizing: border-box;
}

.nav-bar__member > a:first-child, 
.nav-bar__member a,  
.nav-bar__member > span{
    margin-right: 10px;
    cursor: pointer;
}