/* memo list */
.memo-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.memo-container__item{ 
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 80%;
    min-height: 150px;
    margin-bottom: 30px;    
    border-radius: 10px;
}

.memo-container__time{
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.memo-container__xbtn{
    all: unset;
    cursor: pointer;        
}
.memo-container__xbtn > img{
    width: 30px;
    height: 30px;
}
@keyframes rotateGarbage{
    from{
        transform: rotateY(180deg);
    }to{
        transform: rotateY(360deg);
    }
}
.memo-container__xbtn > img:hover{
    animation: rotateGarbage 1s ease-in-out infinite;
}

.memo-container__memo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
}

.memo-container__memo > span{
    margin-bottom: 20px;
}

.memo-container__memo > img{
    border-radius: 5px;
    margin-top: 10px;
}

/* memo detail */

.memo-detail-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.memo-detail-container__item{ 
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 80%;
    min-height: 400px;
    margin-bottom: 30px;    
    border-radius: 10px;
    padding: 0 20px;
}

.memo-detail-container__image{
    width: 300px;
    height: 300px;
}

.memo-detail{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
    width: 100%;
}

.memo-detail__inshort,
.memo-detail__excel,
.memo-detail__calendar{    
    width: 30%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.memo-detail__inshort-item,
.memo-detail__calendar-item{
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 5px;
}

.memo-detail__excel > button{
    width: 100%;
}

.memo-detail__calendar-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.memo-detail__calendar-item__data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.start_date,
.end_date{  
    min-width: 65%;
    margin-left: 10px;
}

.memo-detail__calendar-item__btn > button{
    width:100%;
    padding: 15px 30px;
}