/* MyInfo */
.myInfo__container{
    display: flex;    
    justify-content: center;
    align-items: center;
}

.myInfo__container-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    width: 60%;
    padding: 30px;
    font-size: 20px;
    border-radius: 10px;
}
.myInfo__container-item > span:nth-child(2){
    margin: 20px 0;
}
.myInfo__container-item__goback{
    border-bottom: 1px solid black;
    margin-top: 30px;
    opacity: 0.4;
}

.myInfo__container-item__password{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}